<mat-nav-list class="horizontal-menu">
  <a mat-list-item href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>pie_chart</mat-icon>
    <span class="text">OVERVIEW</span>
  </a>

  <a mat-list-item href="#" routerLink="/fatura" routerLinkActive="active">
    <mat-icon>attach_money</mat-icon>
    <span class="text">ACCOUNTS</span>
  </a>

  <a mat-list-item href="#" routerLink="/unpaid" routerLinkActive="active">
    <mat-icon>money_off</mat-icon>
    <span class="text">BILLS</span>
  </a>

  <a mat-list-item href="#" routerLink="/stats" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon>
    <span class="text">STATISTICS</span>
  </a>

  <a mat-list-item href="#" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span class="text">SETTINGS</span>
  </a>
</mat-nav-list>
