.horizontal-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.horizontal-menu .mat-list-item {
  height: 58px;
}

.horizontal-menu .mat-list-item /deep/ .mat-list-item-content {
  justify-content: center;
}

.horizontal-menu .mat-list-item .text {
  margin-left: 5px;
}

.mat-list-item .text {
  display: none;
}

.mat-list-item.active .text {
  display: inline;
}
