<mat-list>
  <h3 mat-subheader>Te gjitha faturat</h3>
  <ng-container *ngFor="let payment of payments | async">
    <mat-list-item>
      <!--payment.status-->
      <mat-icon mat-list-icon>euro_symbol</mat-icon>
      <h1 mat-line>{{payment.title}}</h1>
      <h2 mat-line>{{payment.description}}</h2>
      <p>{{payment.valute}} {{payment.total | number}}</p>

      <button mat-icon-button (click)="clickedEdit(payment.key)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="clickedDelete(payment.key)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
