body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

form {
  border: 3px solid #f1f1f1;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 400px;
  margin-top: 20px;
}

button {
  background-color: #cccccc;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}
/*-------------------------------------------------------*/


.container {
  padding: 0;
  overflow: hidden;
}

.title-welcome h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #345da7;
  line-height: 1.1;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 30px
}

.signIn h3 {
  font-size: 25px;
  color: #3218B3;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: serif;
}

.full-width {
  width: 100%;
}

.input_email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

.input_password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}


.forgotpass {
  text-align: right;
}

.create-account {
  text-align: center;
}


