<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signUp()">
  <div class="container">

    <div class="present-SignIn">
      <div class="title-welcome">
        <h2>Welcome to ERP Project</h2>
      </div>
    </div>

    <div class="signIn">
      <h3>Sign-In</h3>

      <div class="input_email">
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Write the Email">
        </mat-form-field>
      </div>

      <div class="input_password">
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Write the Password">
        </mat-form-field>
      </div>

      <button mat-button (click)="doFacebookLogin()" id="fb">Login With Facebook</button>
      <br>
      <button mat-button (click)="doGoogleLogin()" id="google">Login With Google</button>
      <button mat-button (click)="doEmailLogin()" id="email">Login With Email</button>
      <hr/>
    </div>


    <div class="create-account">
      <a class="txt" href="#">
        Create your Account
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</form>

