<form name="newPaymentForm" id="newPaymentForm" novalidate (submit)="ruaj($event)">
  <mat-form-field appearance="fill">
    <mat-label>Fatura</mat-label>
    <input type="text" matInput [(ngModel)]="newPayment.title" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input type="text" matInput [(ngModel)]="newPayment.description" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="newPayment.status" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let s of availableStatuses" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total</mat-label>
    <input matInput type="number" step="50" [(ngModel)]="newPayment.total" [ngModelOptions]="{standalone: true}">
    <mat-icon matSuffix color="primary">checkmark</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Valute</mat-label>
    <mat-select [(ngModel)]="newPayment.valute" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let v of availableValutes" [value]="v">
        {{v}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-button color="primary" form="newPaymentForm" type="submit">Ruaj faturen</button>
