.sidenav-container {
  /*height: 100%;*/
}

.sidenav {
  width: 120px;
  text-align: center;
}

.sidenav .logo {
  margin: 20px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav /deep/ .mat-list-item-content {
  justify-content: center;
  flex-direction: column !important;
}

.sidenav .mat-list-item {
  height: 68px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav .mat-list-item .text {
  margin-top: 5px;
}

.mat-list-item .text {
  display: none;
}

.mat-list-item.active .text {
  display: inline;
}
