/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Roboto Condensed", monospace',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 300), // h1
  $title:         mat-typography-level(20px, 32px, 300), // h2
  $subheading-2:  mat-typography-level(16px, 28px, 400, 'Eczar'), // h3
  $subheading-1:  mat-typography-level(15px, 24px, 400), // h4
  $body-2:        mat-typography-level(14px, 24px, 300),
  $body-1:        mat-typography-level(14px, 20px, 400, 'Eczar'),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 700),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto Condensed", monospace; }
