<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content *ngIf="data.message">{{data.message}}</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">CANCEL</button>
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>DISCARD</button>
</div>
